# Copyright 2026 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# The websocket fixture's ActorTemplate: a protojson-shaped
# ateapipb.ActorTemplate (NOT the ate.dev/v1alpha1 CRD), created through the
# ate API by e2e.DeploySubstrateFixture.

metadata:
  atespace: ate-e2e${FIXTURE_SUFFIX}
  name: websocket
workerSelector:
  matchLabels:
    workload: websocket${FIXTURE_SUFFIX}
containers:
- name: websocket
  image: ko://github.com/agent-substrate/substrate/internal/e2e/fixtures/testserver
  args: ["websocket"]
  readyz:
    httpGet:
      path: /readyz
      port: 80
    timeoutSeconds: 30
${TEMPLATE_RESOURCES}
${TEMPLATE_SANDBOX_CONFIG}
snapshotsConfig:
  storageLocation: gs://${BUCKET_NAME}/ate-e2e-websocket${FIXTURE_SUFFIX}/
