# Copyright 2026 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Substrate ActorTemplate resource (protojson-shaped ateapipb.ActorTemplate,
# NOT the ate.dev/v1alpha1 CRD): the usermem workload of the full benchmark set
# (see full_workloads.yaml.tmpl, which is not wired into deploy.sh yet).

metadata:
  atespace: benchmark-workloads
  name: usermem
workerSelector:
  matchLabels:
    workload: benchmark-ateom
containers:
- name: usermem
  image: containerstack/alpine-stress:latest
  command: ["stress", "--vm", "1", "--vm-bytes", "1G", "--vm-keep", "--vm-hang", "0"]
snapshotsConfig:
  storageLocation: gs://${BUCKET_NAME}/benchmark-workloads/usermem/
sandboxConfig:
  sandboxClass: SANDBOX_CLASS_GVISOR
  configName: gvisor-default
