# Copyright 2026 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# NOTE this is the YAML template for the full workloads, however performance
# suffers when using it for the following reasons:
#  * having multiple worker replicas risks missing caching when resuming a job on a different node, which
#    leads to latency due to pulling from GCS
#  * The non-sleep workloads currently do not run, since there is not enough disk space to take the golden snapshot.
#
# Once disk space is improved and scheduling optimizations are introduced, we should use this file.
#
# The ActorTemplates are substrate resources, not CRDs: they live in the
# full-templates/ directory and are created through the ate API with
# `kubectl ate create actor-template`.

apiVersion: v1
kind: Namespace
metadata:
  name: benchmark-workloads

---

apiVersion: ate.dev/v1alpha1
kind: WorkerPool
metadata:
  name: benchmark-ateom
  namespace: benchmark-workloads
  labels:
    workload: benchmark-ateom
spec:
  replicas: 5
  workerImage: ko://github.com/agent-substrate/substrate/cmd/ateom-gvisor

